DATABASE_URL=mysql://espoch_user:espochadmin@localhost:3306/espoch_db
SHADOW_DATABASE_URL=mysql://root:root@localhost:3306/espoch_db
PORT=4000
JWT_SECRET=tu_clave_ultra_segura
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
HOST_MINIO=
MINIO_PORT=

